*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   
    display: grid;
    grid-template-columns:1fr;
    /* gap: 20px; */
    /* overflow: hidden; */
    outline: 1px solid red;
    /* margin: 50px 20px 0px 20px; */
    height: 100vh;
    
    overflow: hidden;
    
}

.video-player{
    background-color: black;
    width: 100%;
    height: 100%;
    /* height: 300px; */
    border-radius: 6px;
    object-fit: cover;
   
    /* margin: 50px; */
}
.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 6px;
    border: 2px solid #b366f9;
    -webkit-box-shadow:3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
} 

#peer-B{
    display: none;
}
.control-container{
    background-color: rgb(179, 102,249,0.9);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow:3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 2;
}
.control-container img{
    height: 30px;
    width: 30px;


}
#leaveBtn{
    background-color: rgb(255,80,80,1);
}
/* center some icons at the bottoms like geet. */
.controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 2;
}

/* resoponsive */

@media source and (max-width:600px){
    .smallFrame{
        height: 80px;
        width: 100px;
    }
    .control-container img{
        height: 20px;
        width: 20px;
    }
}